* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	background: #FFFFDD;
	padding: 0;
	margin: 0;	
}



.content {
	width: 750px;
	height: 750px;
	padding: 10px;
	margin: auto;
	margin-top: 20px;

	border-radius: 10px;
	box-shadow: -2px 2px 15px 0 rgba(0,0,0,0.15);
	background: white;
	position: relative;
}


/*

DEBUGGING 

.content:before {
	content: '';
	width: 1px;
	height: 100%;
	top: 0;
	position: absolute;
	left: 50%;
	background: red;
}

.content:after {
	content: '';
	width: 100%;
	height: 1px;
	top: 50%;
	position: absolute;
	left: 0;
	background: red;
}

*/



#group_0 {
	stroke: red;
}

.group {
	stroke: black;
	stroke-width: 1;

}